*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #1A1A33;
   color: #FEFEFE;
}

a{
    text-decoration: none;
    color: #e72626;
    transition: .5s;
}

a:hover{
    color: #f2f2f2;
}