*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #03071E; 
   color: #FEFEFE;
}

a{
    text-decoration: none;
    color: #F48C06;
    transition: .5s;
}

a:hover{
    color: #FAA307;
}